//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'ReservationAdmin'

append scripts
  script.
    var competitionId = "#{id}"
    var resvId = "#{resvId}"
  script(src='/javascripts/reservation/admin.js')
  script(src='/components/quill/index.js')
  script(src='/components/ngQuill/src/ng-quill.js')
  script(src='/components/quill-image-resize-module/image-resize.min.js')
  script(src='/components/quill-image-drop-and-paste/quill-image-drop-and-paste.min.js')

append css 
  link(rel='stylesheet', href='/components/quill.snow/index.css')
  style.
    .dropdown-menu {
      display: initial;
    }
    .btn-default {
      background-color: #3498db;
      color: #fff;
      font-size: 10px;
    }
    .ui-select-bootstrap .ui-select-choices-row.active>span {
        color: initial;
        text-decoration: none;
        outline: 0;
        background-color: initial;
    }

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId + '/reservation')") Reservation
    span.breadcrumb-item.active Admin


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{resv.name}}
      hr
      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th {{"reservation.start" | translate}}
              th {{"reservation.duration" | translate}}）
              th {{"reservation.total" | translate}}
              th {{"reservation.remaining" | translate}}
              th {{"reservation.status" | translate}}
              th {{"reservation.edit" | translate}}
              
        tbody
            tr(ng-repeat="slot in resv.slot | orderBy: 'start' track by $index")
              td(ng-bind="time(slot.start)")
              td(ng-bind='slot.duration')
              td(ng-bind='slot.max')
              td(ng-bind='slot.max - slot.booked.length', ng-style="{color: (slot.max - slot.booked.length)>=0 ? 'black' : 'red'}")
              td(ng-if="!slot.edit") 
                div(ng-repeat="team in slot.booked")
                  span.badge.badge-dark(style="font-size:14px;margin:2px;") {{team.teamCode}} {{team.name}}
              td(ng-if="slot.edit")
                ui-select(multiple='' ng-model='slot.booked' theme='bootstrap' sortable='true' close-on-select='false' style='width: 100%;')
                  ui-select-match(placeholder='Select team...') {{$item.code}} {{$item.name}}
                  ui-select-choices(repeat='team in teams | filter: teamFilter')
                    span {{team.teamCode}} {{team.name}}
              td(ng-if="!slot.edit") 
                button.btn.btn-dark.btn-sm(type='button', ng-click='edit(slot)')
                  i.fas.fa-edit
              td(ng-if="slot.edit")
                 button.btn.btn-success.btn-sm(type='button', ng-click='save(slot)')
                  i.fas.fa-save

      br