footer.footer(style="text-align:center;background-color: #043C78;")
    .row
        .col-6.footer-text(style="margin-top:0.2rem;text-align:left;font-size:min(1vw, 25px);")
                i.far.fa-copyright(aria-hidden='true')
                | &nbsp;#{process.env.cms_copyright}&nbsp;-&nbsp;
                i.fas.fa-code-branch(aria-hidden="true")
                | &nbsp; v#{process.env.cms_version}
        .col-6(style="text-align:right;font-size:min(1.5rem, 25px);")
            i.fas.fa-language(aria-hidden='true' onclick="location.href='/locales'" ng-cloak) &nbsp;{{'language_name' | translate}}&nbsp;&nbsp;