//- -*- tab-width: 2 -*-

nav.navbar(style='background: linear-gradient(180deg,#FF9900 0%,#FF9900 5px,#B36B00 5px,#B36B00 100%);; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
    a.navbar-brand(href='/home', style="color: #ecf0f1;")
        img.d-inline-block.align-top(src="/images/logo.png", style="height:23px;width:auto;")
        | &nbsp;RCJ CMS
        if process.env.ENVIRONMENT != "PROD" && process.env.ENVIRONMENT != null
            | &nbsp; (#{process.env.ENVIRONMENT})
    if typeof(user) == "undefined"
        i.fas.fa-user-circle.fa-2x(aria-hidden='true')
    else
        .fa-2x
            i.fas.fa-user-circle(aria-hidden='true')
            | &nbsp;#{user.username}
