//- -*- tab-width: 2 -*-
doctype html
- var ngAppDef = ""
- var ngInit = ""
block vars
html(style='height:100%; overflow-y:scroll;' ng-app=ngAppDef ng-init=ngInit)
    include ./head
    body#app(ng-controller=ngAppDef+'Controller' style="height:100%;")
        .row(ng-style="{'backgroundColor': '#' + competition.bkColor, 'color': '#' + competition.color}")
            .col-2
                i.fas.fa-hourglass-half.fa-2x.align-middle
                span.align-middle(style="margin-left:10px;font-size:2em;") {{time}}
            .col-8
                span.align-middle(style="font-size:2vh;") {{competition.name}} &nbsp;
                span.align-middle(style="font-size:4vh;") {{league.name}} Ranking
            .col-2
                img.align-middle(ng-src="{{competition.logo}}" style="height:8vh;")
        .container-fluid(style='overflow: hidden;height:100%;padding-top:1vh;margin-top:0;')
            block content
