//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'SurveyAnswers'

append scripts
  script.
    var competitionId = "#{id}"
    var survId = "#{survId}"
  script(src='/javascripts/survey/answers.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId + '/survey')") Survey
    span.breadcrumb-item.active {{langContent(survey.i18n, 'name')}}

append css
    style.
        p{
            margin-bottom: 0;
        }

block content
  .row
    .col-md-1
    .col-md-10
      h1 {{langContent(survey.i18n, 'name')}}
      hr
      div(style="overflow-x: scroll;")
        table.custom(style="margin-bottom:20px;")
          thead
              tr
                th {{"common.teamCode" | translate}}
                th {{"common.team" | translate}}
                th(ng-repeat="question in survey.questions" ng-bind="langContent(question.i18n, 'title')")
                th {{"common.operation" | translate}}
                
          tbody
              tr(ng-repeat="ans in answers | orderBy: ['team.teamCode','team.name']")
                td(ng-bind="ans.team.teamCode")
                td(ng-bind="ans.team.name")
                td(ng-repeat="question in survey.questions" ng-bind-html="getAnswer(ans, question)")
                td
                  button.btn.btn-primary.btn-sm(type='button', ng-click="edit(ans)", style="margin:0 5px;")
                    i.fas.fa-edit
                  button.btn.btn-danger.btn-sm(type='button', ng-click='delete(ans)', style="margin:0 5px;")
                    i.fas.fa-trash-alt
      br