//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'SurveyList'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/survey/list.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition.name}}
    span.breadcrumb-item.active Survey

block content
  .row
    .col-md-2
    .col-md-8
      h1 {{competition.name}} - {{"survey.title" | translate}}
      button(onclick="location.href='/admin/'+competitionId+'/survey/edit'" class='btn btn-primary') {{"survey.new" | translate}}
      br
      br
      table.custom
        thead
            tr
              th {{"common.name" | translate}}
              th {{"common.operation" | translate}}
        tbody
            tr(ng-repeat='s in survey')
              td
                a(ng-bind='s.name')
              td
                button.btn.btn-primary.btn-sm(type='button', ng-click="edit(s._id)", style="margin:0 5px;")
                  i.fas.fa-edit
                button.btn.btn-warning.btn-sm(type='button', ng-click='answers(s._id)', style="margin:0 5px;")
                  i.fas.fa-list
                button.btn.btn-danger.btn-sm(type='button', ng-click='delete(s)', style="margin:0 5px;")
                  i.fas.fa-trash-alt
                
