//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'AdminBackup'

append scripts
  script.
    var competitionId = "#{competition_id}"
  script(src='/javascripts/admin_competition_backup.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition.name}}
    span.breadcrumb-item.active Backup


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{"admin.backup.title" | translate}}
      p {{"admin.backup.description" | translate}}
      ul
        li {{"admin.backup.item1" | translate}}
        li {{"admin.backup.item2" | translate}}
        li {{"admin.backup.item3" | translate}}
        li {{"admin.backup.item4" | translate}}
        li {{"admin.backup.item5" | translate}}
        li {{"admin.backup.item6" | translate}}
        li {{"admin.backup.item7" | translate}}
        li {{"admin.backup.item8" | translate}}
        li {{"admin.backup.item9" | translate}}
        li {{"admin.backup.item10" | translate}}
        li {{"admin.backup.item11" | translate}}
        li {{"admin.backup.item12" | translate}}
      p {{"admin.backup.notInclude" | translate}}
      br
      .text-center(ng-if="!job.state")
        button.btn.btn-info.btn-lg(ng-click='exeBackup()' type="button")
          i.fas.fa-archive &nbsp;
          | {{"admin.backup.exe" | translate}}
      .text-center
        h1(ng-if="job.state")
          span.badge(ng-class="statusColour(job.state)")
            i.fas(ng-class="statusIcon(job.state)")
            | &nbsp;{{firstUpper(job.state)}}
        .flex-fill(style="margin:10px 0px 0px 10px;", ng-if="job.progress > 0")
          .progress
            .progress-bar(role='progressbar' style='width: {{job.progress}}%;' aria-valuenow='{{job.progress}}' aria-valuemin='0' aria-valuemax='100') {{job.progress}}%
        div(style="color:#e74c3c;margin-top:10px;", ng-if="job.reason")
          span {{job.reason}}
      br
      hr
      .row 
        .col-md-8
          h2 {{"admin.backup.backedup" | translate}}
        if user.superDuperAdmin
          .col-md-4(style="text-align:right;")
            button.btn.btn-danger(type='button', ng-click="open('/admin/queues/queue/backup')" style="margin: 5px;")
                i.fas.fa-bullseye &nbsp;
                | {{"admin.backup.queue" | translate}}
      table.custom
        thead
            tr
              th {{"admin.backup.time" | translate}}
              th {{"common.operation" | translate}}
        tbody
            tr(ng-repeat='back in backedup')
              td
                a(ng-bind='time(back.time)')
              td
                button.btn.btn-primary.btn-sm(type='button', ng-click="download(back.name)", style="margin:0 5px;")
                  i.fas.fa-download
                button.btn.btn-danger.btn-sm(type='button', ng-click='delete(back.name)', style="margin:0 5px;")
                  i.fas.fa-trash-alt
      br
