//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineScore'

append scripts
  script.
    var competitionId = "#{id}"
    var league = "#{league}"
    var get = !{JSON.stringify(get)}
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
  script(src='/javascripts/line_score.js')


block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId)') {{competition.name}}
    a.breadcrumb-item(ng-click="go('/line/'+ competitionId + '/' + league.id)") {{league.name}}
    span.breadcrumb-item.active Score

block content
  .row
  .col-md12
    button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/line/' + competitionId + '/' + league.id)")
      i.fas.fa-undo(aria-hidden='true') {{'common.back' | translate }}
  br
  .alert.alert-success(role='alert' ng-if="competition.message")
    h4.alert-heading {{'common.message' | translate}}
    p(ng-bind-html="competition.message")
  br
  center
    .loader(ng-if="ranking==null")
      img(src="/images/loader2.gif")
      p {{'common.loading' | translate}}
  div(ng-if="ranking!=null")
    .row#rank
      .col-lg-12
        h3 [{{'line.score.rank' | translate}}] {{league.name}}
        table.custom(style="overflow: scroll;")
          thead
            tr
              th.text-center(rowspan="2") {{'common.rank' | translate}}
              th.text-center(ng-show="showMode.teamCode", rowspan="2") {{'common.teamCode' | translate}}
              th.text-center(rowspan="2") {{'common.team' | translate}}
              th.text-center(rowspan="2") {{'line.score.finalScore' | translate}}
              th.text-center(colspan="{{maxGameNum + 4}}") {{'line.score.game' | translate}}
              th.text-center(colspan="{{documentBlock.length + 1}}" ng-show="showMode.documentScore") {{'line.score.document' | translate}}
            tr
              th.text-center {{'common.time' | translate}}
              th.text-center {{'common.rescued' | translate}}
              th.text-center {{'common.lops' | translate}}
              th.text-center(ng-show="showMode.normalGameScore", colspan="{{maxGameNum}}") {{'common.gamesScore' | translate}}
              th.text-center(ng-show="showMode.normalGameScore") {{'common.sum' | translate}}
              th.text-center(ng-show="showMode.normalizedGameScore", colspan="{{maxGameNum}}") {{'common.normalizedScore' | translate}}
              th.text-center(ng-show="showMode.normalizedGameScore") {{'common.mean' | translate}}
              th.text-center(ng-show="showMode.documentScore", ng-repeat="block in documentBlock") {{langContent(block.i18n, 'title')}}
              th.text-center(ng-show="showMode.documentScore") {{'common.weightedSum' | translate}}
          tbody
            tr(ng-repeat='team in ranking track by $index')
              td.text-center(ng-bind='$index + 1')
              td.text-center(ng-show="showMode.teamCode", ng-bind='team.team.teamCode')
              td.text-center(ng-bind='team.team.name')
              td.text-center(ng-bind='team.finalScore')
              td.text-center {{("00"+team.gameSum.time.minutes).slice(-2)}}:{{("00"+team.gameSum.time.seconds).slice(-2)}}
              if league == 'LineNL'
                td.text-center
                  .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.unknown > 0")
                    img(src='/images/unknownVictim.png', style="height:20px;")
                    span(style="font-size:15px;") ×{{team.gameSum.victims.unknown}}
                  .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.live > 0")
                    img(src='/images/greenVictim.png', style="height:20px;")
                    span(style="font-size:15px;") ×{{team.gameSum.victims.live}}
                  .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.dead > 0")
                    img(src='/images/blackVictim.png', style="height:20px;")
                    span(style="font-size:15px;") ×{{team.gameSum.victims.dead}}
              else 
                td.text-center
                  .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-repeat="victim in team.gameSum.victims" ng-style="{backgroundColor: evacZoneColor(victim)}")
                    img(ng-src='/images/{{victimImgPath(victim)}}', style="height:20px;")
                    span(style="font-size:15px;") ×{{victim.count}}
              
              td.text-center(ng-bind='team.gameSum.lops')
              td.text-center(ng-show="showMode.normalGameScore", ng-repeat="gameIndex in range(maxGameNum)" ng-bind="team.games[gameIndex].score" ng-click="openRunDetails(team.games[gameIndex]._id)" ng-style="{backgroundColor: team.games[gameIndex].used ? '':'#ccc'}")
              td.text-center(ng-show="showMode.normalGameScore", ng-bind='team.gameSum.score')
              td.text-center(ng-show="showMode.normalizedGameScore", ng-repeat="gameIndex in range(maxGameNum)" ng-bind="team.games[gameIndex].normalizedScore.toFixed(4)" ng-click="openRunDetails(team.games[gameIndex]._id)" ng-style="{backgroundColor: team.games[gameIndex].used ? '':'#ccc'}")
              td.text-center(ng-show="showMode.normalizedGameScore", ng-bind='team.gameSum.normalizedScoreMean.toFixed(4)')
              
              td.text-center(ng-show="showMode.documentScore", ng-repeat="block in team.document.details", ng-bind='block.normalizedScore.toFixed(4)')
              td.text-center(ng-show="showMode.documentScore", ng-bind='team.document.score.toFixed(4)')