//- -*- tab-width: 2 -*-
extends includes/signage_layout

block vars
  - var ngAppDef = 'MazeScore'

append scripts
  script.
    var competitionId = "#{id}"
    var get = !{JSON.stringify(get)}
    var league = "#{league}"
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
  script(src = '/javascripts/maze_score.js')

block content
  style.
      .ces{
        display: flex;
        justify-content: center; /*左右中央揃え*/
        align-items: center;
      }
  .row#rank
    .col-lg-12
      div(ng-repeat='team in ranking | limitTo: 3 track by $index' ng-show="showFrom == 0")
          .row(style="height:29vh")
              .col-9
                img(ng-src="/images/ranking/{{$index+1}}.png" style="height:29vh;float: left;")
                div(style="margin-left:35vh;")
                    div(style="position:relative; top:3vh; font-size: 6vh;") {{team.team.teamCode}}
                div(style="position:relative; top:5vh; font-size:10vh; text-overflow: ellipsis;white-space: nowrap;") {{team.team.name}}
              .col-3
                  ul.list-group(style="height:100%;font-size:4vh;")
                    li.list-group-item(style="border:3px solid #636e72;padding:1vh;color:#d35400;overflow: hidden;text-overflow: clip;white-space: nowrap;")
                      i.fas.fa-calculator.fa-fw &nbsp;{{team.finalScore}}
                    li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;color:#0abde3")
                      i.fas.fa-stopwatch.fa-fw &nbsp;{{("00"+team.gameSum.time.minutes).slice(-2)}}:{{("00"+team.gameSum.time.seconds).slice(-2)}}
                    li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;color:#ee5253")
                      i.fas.fa-ambulance.fa-fw(style="margin-right:10px;")
                      .img-thumbnail(style="padding:0;display: inline-block;margin:1px;" ng-repeat="victim in team.gameSum.victims" ng-style="{backgroundColor: evacZoneColor(victim)}")
                        div(style="display: flex; flex-direction: column;")
                          img(ng-src='/images/{{victim.type}}.png', style="height:3vh")
                          span(style="font-size:1vh; color: #000; text-align:center;") ×{{victim.count}}
                    li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;color:#222f3e")
                      i.fas.fa-step-forward.fa-fw &nbsp;{{team.gameSum.lops}}
          hr(color="#636e72" style="margin-top:1vh;margin-bottom:1vh;")
      .row(ng-hide="showFrom == 0" style="height:30vh;")
        .col-6(style="border-right:solid 1px #000;border-right:solid 1px #000;padding-bottom:20px;" ng-repeat="team in ranking | limitTo: 6:showFrom track by $index")
          .row.ces(style="margin-left:5px;margin-top:10px;height:30%;margin-bottom:3vh;")
            .col-2(style="text-align:center;font-size:6vh; border:solid 1px #000;") {{showFrom + $index + 1}}
            .col-10(style="font-size:6vh;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;")
              span(style="font-size:3vh;margin-right:10px;") {{team.team.teamCode}}
              span {{team.team.name}}
          .row
            .col-6
              ul.list-group(style="height:100%;font-size:4vh;")
                li.list-group-item(style="border:3px solid #636e72;padding:1vh;color:#d35400;overflow: hidden;text-overflow: clip;white-space: nowrap;")
                  i.fas.fa-calculator.fa-fw &nbsp;{{team.finalScore}}
                li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;color:#0abde3")
                  i.fas.fa-stopwatch.fa-fw &nbsp;{{("00"+team.gameSum.time.minutes).slice(-2)}}:{{("00"+team.gameSum.time.seconds).slice(-2)}}
            .col-6
              ul.list-group(style="height:100%;font-size:4vh;")
                li.list-group-item(style="border:3px solid #636e72;padding:1vh;color:#ee5253")
                  i.fas.fa-ambulance.fa-fw(style="margin-right:10px;")
                  .img-thumbnail(style="padding:0;display: inline-block;margin:1px;" ng-repeat="victim in team.gameSum.victims" ng-style="{backgroundColor: evacZoneColor(victim)}")
                    div(style="display: flex; flex-direction: column;")
                      img(ng-src='/images/{{victim.type}}.png', style="height:3vh")
                      span(style="font-size:1vh; color: #000; text-align:center;") ×{{victim.count}}
                li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;color:#222f3e")
                  i.fas.fa-step-forward.fa-fw &nbsp;{{team.gameSum.lops}}