html(ng-app="ddApp")
  head
    title Rescue Simulation Judge
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script(src="/javascripts/simulation_judge.js")
    script(src="/javascripts/deflate.js")
    script(src="/javascripts/translate_config.js")
    script(src='/components/lightbox2/dist/js/lightbox.min.js')

    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")


  body(ng-controller="ddController")
    nav.navbar(style='background-color: #e74c3c; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#', ng-show='!networkError')
          i.fas.fa-sync(ng-class="{'fa-spin' : sync > 0}")
          |  {{team.name}}
        li.navbar-brand(href='#', ng-show='networkError')
          i.fas.fa-exclamation-triangle(style='color: #f1c40f;')
          |  Network ERROR {{team.name}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{score}} {{'common.point' | translate}}
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{time | date:'mm:ss'}}
    .container-fluid.nav-cont
      div(style='text-align: center;', ng-if='!checked')
        h4
          i.far.fa-check-circle(aria-hidden='true')
          | {{'maze.judge.before' | translate}}
        br
        #lops.card
          h3.card-header
            i.fas.fa-info-circle(aria-hidden='true')
            |  {{'maze.judge.info' | translate}}
          table.table(style='margin-bottom:0;')
            tbody
              tr(ng-style="{backgroundColor: checkTeam? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckTeam()')
                th
                  | {{'common.team' | translate}}
                td
                  h1
                    b {{team.name}}
              tr(ng-style="{backgroundColor: checkRound? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckRound()')
                th
                  | {{'common.round' | translate}}
                td
                  h2
                    b {{round}}
              tr
                th
                  | {{'common.competition' | translate}}
                td
                  | {{competition.name}}
              tr
                th
                  | {{'common.field' | translate}}
                td
                  | {{field}}
              tr
                th
                  | {{'common.league' | translate}}
                td
                  | {{league}}
        br
        br
        .row(style='margin-bottom:30px')
          .col-md-6
            .card
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.me_pic' | translate}}
              .card-body(ng-style="{backgroundColor: checkMember? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckMember()')
                img.img-thumbnail(style='max-width: 100%;height: auto;margin-bottom:20px', ng-src='/api/document/inspection/files/{{team._id}}/teamPhoto')
        p(ng-show='!(checkTeam && checkRound && checkMember)') {{'maze.judge.tap_red' | translate}}
        button.btn.btn-success(type='button', ng-click='infochecked()', ng-disabled='!(checkTeam && checkRound && checkMember)')
          i.fas.fa-check-circle.fa-2x(aria-hidden='true')  {{'maze.judge.confirm' | translate}}
        br
        br
        hr
        p {{'maze.judge.noShow' | translate}}
        button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
          i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}
      div(ng-show='checked')
        .alert.alert-warning(role='alert', ng-show='networkError')
          h4.alert-heading {{'maze.judge.networkError' | translate}}
          .row
            .col-md-10
              p {{'maze.judge.networkErrorDescription' | translate}}
            .col-md-2
              button.btn.btn-warning(type='button', ng-click='saveEverything()') {{'maze.judge.reSend' | translate}}
        .row(style='margin-top:30px;')
          .col-md-4.col-lg-3(style='margin-bottom:30px;')
            button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'maze.judge.tim_stop' : 'maze.judge.tim_start' |translate }}
            button.btn.btn-warning(ng-show='!startedTime && time!=0', style='margin:0 10px 10px 0;', type='button', ng-click='timeReset()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{'maze.judge.tim_reset' | translate}}
            .alert.alert-info.blink(role='alert', ng-show='!startedTime && minutes < 10')
              | {{'maze.judge.push_timer' | translate}}
          .col-md-8.col-lg-9
            .input-group.input-group-lg
              input.form-control(type='tel', placeholder='', ng-model='score', style="font-size: 50px;")
              .input-group-append
                span.input-group-text {{'common.point' | translate}}
        .row(style='margin:50 0 0 0;')
          .col-md-12.confirmation
            div
              h4 {{'maze.judge.adjust'| translate}}
              br
              strong(ng-if='!startedTime')
                | {{'maze.judge.confirm_text'| translate}}
              strong(ng-if='startedTime', style='color:red')
                | {{'maze.judge.disabled_confirm_text'| translate}}
              .row
                .col-sm-7(style='margin-bottom:10px;')
                  .input-group.input-group-lg
                    input.form-control(type='tel', placeholder='', aria-label='min', min='0', max='8', ng-model='minutes', ng-disabled='startedTime')
                    .input-group-append
                      span.input-group-text {{'common.min' | translate}}
                    input.form-control(type='tel', placeholder='', aria-label='sec', min='0', max='60', ng-model='seconds', ng-disabled='startedTime')
                    .input-group-append
                      span.input-group-text {{'common.sec' | translate}}
                .col-sm-5
                  div(style='text-align:right;')
                    button.btn.btn-danger(type='button', ng-click='confirm()', ng-disabled='startedTime', ng-hide='networkError')
                      i.fas.fa-arrow-right.fa-2x(aria-hidden='true')  {{'line.judge.toSign'| translate}}
                    button.btn.btn-danger(type='button', ng-click='handover()', ng-disabled='startedTime', ng-show='networkError') {{'maze.judge.handover' | translate}}
            br
            br
      .row(style='margin:20 0 0 0;')
        .col-md12
          button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/simulation/' + competition._id + '/' + league)")
            i.fas.fa-undo(aria-hidden='true')  {{'common.back' | translate}}
