html(ng-app="ddApp")
  head
    title Rescue Line View
    script.
      var runId = "#{id}"
      var iframe = "#{iframe}"

    include ../includes/common_component
    script(src="/javascripts/sign/line_2024E.js")
    script(src="/javascripts/translate_config.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    nav.navbar(style='background-color: #3498db; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#')
          i.fas.fa-spinner.fa-spin.fa-fw
          | &nbsp; {{team}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true') &nbsp;
        li.navbar-brand(href='#')  {{score}} {{'common.point' | translate}}
        i.fa.fa-chart-bar(ng-if="normalizedScore != null" aria-hidden='true')  : {{normalizedScore}}
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true') &nbsp;
        li.navbar-brand(href='#')  {{minutes*60*1000+seconds*1000 | date:'m:ss'}}
    .container-fluid.nav-cont
      .row
        .col-md12
          button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/line/' + competition_id + '/' + league)")
            i.fa.fa-undo(aria-hidden='true')  {{'common.back' | translate}}
      .row
        .col-md-12
          #lops.card
            h3.card-header
              i.fa.fa-info-circle(aria-hidden='true')
              |  {{'line.view.info' | translate}}
            table.table(style='margin-bottom:0;')
              tbody
                tr
                  th
                    | {{'common.competition' | translate}}
                  td
                    | {{competition}}
                tr
                  th
                    | {{'common.round' | translate}}
                  td
                    | {{round}}
                tr
                  th
                    | {{'common.field' | translate}}
                  td
                    | {{field}}
                tr
                  th
                    | {{'common.team' | translate}}
                  td
                    | {{team}}
                tr
                  th
                    | {{'common.league' | translate}}
                  td
                    | {{league}}
                tr
                  th
                    | {{'common.rule' | translate}}
                  td
                    | #{rule}
      br
      br
      br
      include common/line_2024E
      .alert.alert-success(role='alert')
        .row
          .col-md-6
            .d-none.d-sm-block
              i.fa.fa-calculator.fa-3x(aria-hidden='true')  : {{score}} {{'common.point' | translate}} &nbsp;
              i.fa.fa-chart-bar.fa-2x(ng-if="normalizedScore != null" aria-hidden='true')  : {{normalizedScore}}
            .d-sm-none
              i.fa.fa-calculator.fa-2x(aria-hidden='true')  : {{score}} {{'common.point' | translate}} &nbsp;
              i.fa.fa-chart-bar(ng-if="normalizedScore != null" aria-hidden='true')  : {{normalizedScore}}
          .col-md-6
            .d-none.d-sm-block
              i.fas.fa-stopwatch.fa-3x(aria-hidden='true')
                | : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}
            .d-sm-none
              i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
                | : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}
      if user
        .row(style='margin:0 0 30 0;')
          .col-md-12
            #sign.card
              h3.card-header
                i.fas.fa-comment(aria-hidden='true')
                |  {{'line.view.comment' | translate}}
              .card-body
                p.card-text.text-info
                  | {{'line.view.comment_e' | translate}}
                .form-group
                  textarea.form-control(ng-model='comment', rows='3', disabled='')
              h3.card-header
                i.fas.fa-pencil-alt(aria-hidden='true')
                |  {{'line.view.sign' | translate}}
              .card-body
                p.card-text.text-warning(translate='line.view.sign_e')
                .sign-box.sign-box-cap
                  p.sign-box-title.sign-box-title-cap(translate='line.view.cap_sign')
                  img(ng-src='{{cap_sig}}', style='max-width: 100%;height: auto;')
                hr
                .sign-box.sign-box-ref
                  p.sign-box-title.sign-box-title-ref(translate='line.view.ref_sign')
                  img(ng-src='{{ref_sig}}', style='max-width: 100%;height: auto;')
                hr
                .sign-box.sign-box-ref
                  p.sign-box-title.sign-box-title-ref(translate='line.view.cref_sign')
                  img(ng-src='{{refas_sig}}', style='max-width: 100%;height: auto;')
    include ../includes/footer
