center
  .loader(ng-if="ranking==null")
    img(src="/images/loader2.gif")
    p {{'common.loading' | translate}}
div(ng-if="ranking!=null")
  .row#rank
    .col-lg-12
      h3 {{competition.name}}
      h2 [{{'line.score.rank' | translate}}] {{league.name}}
      table.custom(style="overflow: scroll;")
        thead
          tr
            th.text-center(rowspan="3") {{'common.rank' | translate}}
            th.text-center(rowspan="3", ng-if="showMode.teamCode && showCode") Team Code
            th.text-center(rowspan="3", ng-if="showTeam") {{'common.team' | translate}}
            th.text-center(rowspan="3") {{'line.score.finalScore' | translate}}
            th.text-center(colspan="{{maxGameNum + 4}}") {{'line.score.game' | translate}}
            th.text-center(colspan="{{documentBlock.length + 1}}" ng-show="showMode.document") {{'line.score.document' | translate}}
            th.text-center(colspan="1" ng-show="showMode.technicalChallenge") {{'technicalChallenge.technicalChallenge' | translate}}
          tr
            th.text-center(rowspan="2") {{'common.time' | translate}}
            th.text-center(rowspan="2") {{'common.rescued' | translate}}
            th.text-center(rowspan="2") {{'common.lops' | translate}}
            th.text-center(ng-show="showMode.nonNormalized", colspan="{{maxGameNum}}") {{'common.gamesScore' | translate}}
            th.text-center(rowspan="2" ng-show="showMode.nonNormalized") {{'common.sum' | translate}}
            th.text-center(ng-show="showMode.normalized", colspan="{{maxGameNum}}") {{'common.normalizedScore' | translate}}
            th.text-center(rowspan="2" ng-show="showMode.normalized") {{'common.mean' | translate}}
            th.text-center(rowspan="2" ng-show="showMode.document", ng-repeat="block in documentBlock") {{langContent(block.i18n, 'title')}}
            th.text-center(rowspan="2" ng-show="showMode.document") {{'common.weightedSum' | translate}}
            th.text-center(ng-show="showMode.technicalChallenge", rowspan="2", colspan="1") {{'common.normalizedScore' | translate}}
          tr
            th.text-center(ng-repeat="grp in runGroups") {{grp}}
        tbody
          tr(ng-repeat='team in ranking track by $index')
            td.text-center(ng-bind='$index + 1')
            td.text-center(ng-if="showCode", ng-bind='team.team.teamCode')
            td.text-center(ng-if="showTeam", ng-bind='team.team.name')
            td.text-center(ng-bind='team.finalScore')
            td.text-center {{("00"+team.gameSum.time.minutes).slice(-2)}}:{{("00"+team.gameSum.time.seconds).slice(-2)}}
            td.text-center
              .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.unknown > 0")
                img(src='/images/unknownVictim.png', style="height:20px;")
                span(style="font-size:15px;") ×{{team.gameSum.victims.unknown}}
              .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.live > 0")
                img(src='/images/greenVictim.png', style="height:20px;")
                span(style="font-size:15px;") ×{{team.gameSum.victims.live}}
              .img-thumbnail(style="padding:0;display: inline-block;margin-right:5px;" ng-show="team.gameSum.victims.dead > 0")
                img(src='/images/blackVictim.png', style="height:20px;")
                span(style="font-size:15px;") ×{{team.gameSum.victims.dead}}
          
            td.text-center(ng-bind='team.gameSum.lops')
            td.text-center(ng-show="showMode.nonNormalized", ng-repeat="grp in runGroups" ng-bind="team.games[grp].score" ng-click="openRunDetails(team.games[grp]._id)" ng-style="{backgroundColor: team.games[grp].used ? '':'#ccc'}")
            td.text-center(ng-show="showMode.nonNormalized", ng-bind='team.gameSum.score')
            td.text-center(ng-show="showMode.normalized", ng-repeat="grp in runGroups" ng-bind="team.games[grp].normalizedScore.toFixed(4)" ng-click="openRunDetails(team.games[grp]._id)" ng-style="{backgroundColor: team.games[grp].used ? '':'#ccc'}")
            td.text-center(ng-show="showMode.normalized", ng-bind='team.gameSum.normalizedScoreMean.toFixed(4)')
            
            td.text-center(ng-show="showMode.document", ng-repeat="block in team.document.details", ng-bind='block.normalizedScore.toFixed(4)')
            td.text-center(ng-show="showMode.document", ng-bind='team.document.score.toFixed(4)')

            td.text-center(ng-show="showMode.technicalChallenge", ng-bind='team.technicalChallenge.toFixed(4)')