center
  .loader(ng-if="ranking==null")
    img(src="/images/loader2.gif")
    p {{'common.loading' | translate}}
div(ng-if="ranking!=null")
  .row
    .col-md-12
      .row#rank
        .col-md-12
          h3 {{competition.name}}
          h2 [{{'maze.score.rank' | translate}}] {{league.name}}
          table.custom(style="overflow: scroll;")
            thead
              tr
                th.text-center(rowspan="3") {{'common.rank' | translate}}
                th.text-center(rowspan="3" ng-show="showCode") {{'common.teamCode' | translate}}
                th.text-center(rowspan="3" ng-show="showTeam") {{'common.team' | translate}}
                th.text-center(rowspan="3") {{'line.score.finalScore' | translate}}
                th.text-center(colspan="{{maxGameNum + 2}}") {{'line.score.game' | translate}}
                th.text-center(colspan="{{documentBlock.length + 1}}" ng-show="showMode.document") {{'line.score.document' | translate}}
                th.text-center(colspan="1" ng-show="showMode.technicalChallenge") {{'technicalChallenge.technicalChallenge' | translate}}
              tr
                th.text-center(rowspan="2") {{'common.time' | translate}}
                th.text-center(ng-show="showMode.nonNormalized", colspan="{{maxGameNum}}") {{'common.gamesScore' | translate}}
                th.text-center(rowspan="2" ng-show="showMode.nonNormalized") {{'common.sum' | translate}}
                th.text-center(ng-show="showMode.normalized", colspan="{{maxGameNum}}") {{'common.normalizedScore' | translate}}
                th.text-center(rowspan="2" ng-show="showMode.normalized") {{'common.mean' | translate}}
                th.text-center(rowspan="2" ng-show="showMode.document", ng-repeat="block in documentBlock") {{langContent(block.i18n, 'title')}}
                th.text-center(rowspan="2" ng-show="showMode.document") {{'common.weightedSum' | translate}}
                th.text-center(ng-show="showMode.technicalChallenge", rowspan="2", colspan="1") {{'common.normalizedScore' | translate}}
              tr
                th.text-center(ng-repeat="grp in runGroups") {{grp}}
            tbody
              tr(ng-repeat='team in ranking track by $index')
                td.text-center(ng-bind='$index + 1')
                td.text-center(ng-show="showCode", ng-bind='team.team.teamCode')
                td.text-center(ng-show="showTeam", ng-bind='team.team.name')
                td.text-center(ng-bind='team.finalScore')
                td.text-center {{("00"+team.gameSum.time.minutes).slice(-2)}}:{{("00"+team.gameSum.time.seconds).slice(-2)}}
                td.text-center(ng-show="showMode.nonNormalized", ng-repeat="grp in runGroups" ng-bind="team.games[grp].score" ng-click="openRunDetails(team.games[grp]._id)" ng-style="{backgroundColor: team.games[grp].used ? '':'#ccc'}")
                td.text-center(ng-show="showMode.nonNormalized", ng-bind='team.gameSum.score')
                td.text-center(ng-show="showMode.normalized", ng-repeat="grp in runGroups" ng-bind="team.games[grp].normalizedScore.toFixed(4)" ng-click="openRunDetails(team.games[grp]._id)" ng-style="{backgroundColor: team.games[grp].used ? '':'#ccc'}")
                td.text-center(ng-show="showMode.normalized", ng-bind='team.gameSum.normalizedScoreMean.toFixed(4)')
                
                td.text-center(ng-show="showMode.document", ng-repeat="block in team.document.details", ng-bind='block.normalizedScore.toFixed(4)')
                td.text-center(ng-show="showMode.document", ng-bind='team.document.score.toFixed(4)')

                td.text-center(ng-show="showMode.technicalChallenge", ng-bind='team.technicalChallenge.toFixed(4)')