html(ng-app="ddApp")
  head
    title Rescue Line Judge
    script.
      var runId = "#{id}"
      var movie = ""

    include ../includes/common_component

    script(src="/javascripts/judge/line_2024.js")
    
    script(src="/javascripts/deflate.js")
    script(src="/components/jquery-qrcode/jquery.qrcode.min.js")
    script(src="/javascripts/makeQR.js")
    script(src="/javascripts/translate_config.js")
    script(src='/components/lightbox2/dist/js/lightbox.min.js')

    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    link(href="/components/css-toggle-switch/dist/toggle-switch.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    nav.navbar(style='background-color: #e74c3c; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#', ng-show='!networkError')
          i.fas.fa-sync(ng-class="{'fa-spin' : sync > 0}") &nbsp;
          | {{team.name}}
        li.navbar-brand(href='#', ng-show='networkError')
          i.fas.fa-exclamation-triangle(style='color: #f1c40f;') &nbsp;
          |  Network ERROR {{team.name}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true') &nbsp;
        li.navbar-brand(href='#')  {{score}} {{'common.point' | translate}}
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true') &nbsp;
        li.navbar-brand(href='#')  {{time | date:'mm:ss'}}
    .container-fluid.nav-cont
      div(style='text-align: center;', ng-if='!checked')
        h4
          i.far.fa-check-circle(aria-hidden='true')
          | {{'line.judge.before' | translate}}
        br
        #lops.card
          h3.card-header
            i.fas.fa-info-circle(aria-hidden='true')
            |  {{'line.judge.info' | translate}}
          table.table(style='margin-bottom:0;')
            tbody
              tr(ng-style="{backgroundColor: checkTeam? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckTeam()')
                th(style='width:200px;')
                  | {{'common.team' | translate}}
                td
                  h1
                    b {{team.name}}
              tr(ng-style="{backgroundColor: checkRound? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckRound()')
                th
                  | {{'common.round' | translate}}
                td
                  h2
                    b {{round}}
              tr
                th
                  | {{'common.competition' | translate}}
                td
                  | {{competition.name}}
              tr
                th
                  | {{'common.field' | translate}}
                td
                  | {{field}}
              tr
                th
                  | {{'common.league' | translate}}
                td
                  | {{league}}
              tr
                th
                  | {{'common.rule' | translate}}
                td
                  | #{rule}
        br
        br
        .row(style='margin-bottom:30px')
          .col-md-6
            .card
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.me_pic' | translate}}
              .card-body(ng-style="{backgroundColor: checkMember? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckMember()')
                img.img-thumbnail(style='max-width: 100%;height: auto;margin-bottom:20px', ng-src='/api/document/inspection/files/{{team._id}}/teamPhoto')
          .col-md-6
            .card
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.ma_pic' | translate}}
              .card-body(ng-style="{backgroundColor: checkMachine? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckMachine()')
                div
                  img.img-thumbnail(style='max-width: 100%;height: auto;margin-bottom:20px', ng-src='/api/document/inspection/files/{{team._id}}/robotPhoto')
        p(ng-show='!(checkTeam && checkRound && checkMember && checkMachine)') {{'line.judge.tap_red' | translate}}
        button.btn.btn-success(type='button', ng-click='infochecked()', ng-disabled='!(checkTeam && checkRound && checkMember && checkMachine)')
          i.fas.fa-check-circle.fa-2x(aria-hidden='true')  {{'line.judge.confirm' | translate}}
        br
        br
        hr
        p {{'line.judge.noShow' | translate}}
        button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
          i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}
      div(ng-show='checked')
        .alert.alert-warning(role='alert', ng-show='networkError')
          h4.alert-heading {{'line.judge.networkError' | translate}}
          .row
            .col-md-10
              p {{'line.judge.networkErrorDescription' | translate}}
            .col-md-2
              button.btn.btn-warning(type='button', ng-click='saveEverything()') {{'line.judge.reSend' | translate}}
        .row
          .col-md-5.col-lg-4
            button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}
            button.btn.btn-warning(ng-show='!startedTime && time!=0', style='margin:0 10px 10px 0;', type='button', ng-click='TimeReset()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{'line.judge.tim_reset' | translate}}
            .alert.alert-info.blink(role='alert', ng-show='!startedTime && minutes < 8 && !fromSign')
              | {{'line.judge.push_timer' | translate}}
            #card_area.scrool(style='overflow: scroll;')
              #lops.card
                h3.card-header
                  i.fas.fa-step-forward(aria-hidden='true')
                  | {{'common.lops' | translate}}
                .card-body
                  div(ng-repeat='cp in range(LoPs.length) track by $index')
                    .card-text(style='display:flex;' ng-style="{'background-color': $index == EvacuationAreaLoPIndex?'#ffcccc':''}")
                      div(style='width:40%;font-size:10px;', align='center')
                        | {{$index==0?'line.judge.start':'line.judge.checkpoint'|translate}}
                        b(style='font-size:15px;color:#FF8300;') {{$index==0?'':$index}}
                        br
                        i.fas.fa-forward.fa-rotate-90(aria-hidden='true')
                        span(ng-if="$index == EvacuationAreaLoPIndex")
                          br
                          i.fas.fa-ambulance.fa-2x(aria-hidden='true' style="color:#c0392b;")
                          br
                          i.fas.fa-forward.fa-rotate-90(aria-hidden='true')
                        br
                        |  {{!$last?'line.judge.checkpoint':'line.judge.Lexit' | translate}}
                        b(style='font-size:15px;color:#FF8300;') {{!$last?$index+1:''}}
                      div(style='width:60%;position: relative;')
                        .input-group.mb-3(style='width:100%; height:40px;position:absolute;margin: auto;top: calc(50% - 20px);')
                          .input-group-prepend
                            button.btn.btn-danger(type='button', ng-click='decrement($index,$last)')
                              i.fas.fa-minus(aria-hidden='true')
                          div(style='background-color: #F2F2F2; width:40%; text-align: center;')
                            span.count {{LoPs[$index]?LoPs[$index]:0}}
                          .input-group-append
                            button.btn.btn-success(type='button', ng-click='increment($index,$last)')
                              i.fas.fa-plus(aria-hidden='true')
                    
                    div(ng-if="$index == EvacuationAreaLoPIndex", style="border: solid 4px #e74c3c;border-radius:calc(0.5rem - 1px);margin-top:15px;")
                      h3.card-header(style="background-color: #e74c3c;color: #fff;border-radius:calc(0.2rem - 1px) calc(0.2rem - 1px) 0 0;")  {{'line.judge.rescue' | translate}}
                        span.badge.badge-danger {{evacuationLevel-1?'line.judge.high':'line.judge.low' | translate}}
                      .row(style="padding:10px;")
                        .col-4(ng-click="addVictimTmp('LIVE')")
                          span Max : {{maxLiveVictims}}
                          br
                          .victim_btn(style='width:100%;position: relative;', ng-style="{'background-color': count_victim_list('L') + count_victim_tmp('L') >= maxLiveVictims?'#ccc':'#E1FFFE'}")
                            img.img-thumbnail(src='/images/liveVictim.png', height='60px')

                        .col-4(style='', ng-click="addVictimTmp('DEAD')")
                          span Max : {{maxDeadVictims}}
                          br
                          .victim_btn(style='width:100%;position: relative;', ng-style="{'background-color': count_victim_list('D') + count_victim_tmp('D') >= maxDeadVictims?'#ccc':'#E1FFFE'}")
                            img.img-thumbnail(src='/images/deadVictim.png', height='60px')
                        .col-12(ng-if="victim_tmp.length > 0")
                          table(border='1', style='width:100%; text-align: center; margin-top: 10px;')
                            tbody
                              tr
                                td(ng-repeat='i in range(3)', ng-dblclick='delete_victim_tmp(i)', ng-swipe-left='delete_victim_tmp(i)')
                                  img(src='/images/liveVictim.png', width='30px', ng-if="victim_tmp[i] == 'LIVE'")
                                  img(src='/images/deadVictim.png', width='30px', ng-if="victim_tmp[i] == 'DEAD'")
                                  span(style='width:30px;', ng-hide='victim_tmp[i]') ---
                                td(rowspan="6")
                                  button.btn.btn-warning(type='button', ng-click='victim_tmp_clear()')
                                    i.far.fa-trash-alt(aria-hidden='true')
                        .col-6(ng-if="victim_tmp.length > 0", style="margin-top:10px;")
                          .evac_zone_btn_red(style='width:100%;position: relative;', ng-click='victimRegist("RED")')
                            img.img-thumbnail(src='/images/evacZone/red_lv2_a.png', height='60px')
                        .col-6(ng-if="victim_tmp.length > 0", style="margin-top:10px;", ng-click='victimRegist("GREEN")')
                          .evac_zone_btn_green(style='width:100%;position: relative;')
                            img.img-thumbnail(src='/images/evacZone/green_lv2_a.png', height='60px')
                        .col-12
                          div(ng-show="victim_list.length > 0")
                            hr
                            h6 {{'line.judge.rescuedVictims' | translate}}
                            span(style='font-size:9px;') {{'line.judge.rescuedVictimsMes' | translate}}
                            table(border='1', style='width:100%; text-align: center; margin-top: 10px;', ng-repeat='j in range(6)', ng-if='victim_list.length > j*3')
                              tbody
                                tr
                                  th Zone
                                  th(style='text-align:center;', ng-repeat='i in range(3)') {{j*3 + (i+1)}}
                                tr
                                  td
                                    img(src='/images/evacZone/red_lv2.png', height='50px')
                                  td(ng-repeat='i in range(3)', ng-style="{'background-color': victim_bk_color(j*3+i, 'RED')}", ng-dblclick='delete_victim(j*3+i)', ng-swipe-left='delete_victim(j*3+i)')
                                    div(ng-if="victim_list[j*3+i].zoneType == 'RED'")
                                      img(src='/images/liveVictim.png', width='30px', ng-if="victim_list[j*3+i].victimType == 'LIVE'")
                                      img(src='/images/deadVictim.png', width='30px', ng-if="victim_list[j*3+i].victimType == 'DEAD'")
                                      br
                                      span(ng-if="calc_victim_multipliers(j*3+i)!=0") x{{calc_victim_multipliers(j*3+i)}}
                                tr
                                  td
                                    img(src='/images/evacZone/green_lv2.png', height='50px')
                                  td(ng-repeat='i in range(3)', ng-style="{'background-color': victim_bk_color(j*3+i, 'GREEN')}", ng-dblclick='delete_victim(j*3+i)', ng-swipe-left='delete_victim(j*3+i)')
                                    div(ng-if="victim_list[j*3+i].zoneType == 'GREEN'")
                                      img(src='/images/liveVictim.png', width='30px', ng-if="victim_list[j*3+i].victimType == 'LIVE'")
                                      img(src='/images/deadVictim.png', width='30px', ng-if="victim_list[j*3+i].victimType == 'DEAD'")
                                      br
                                      span(ng-if="calc_victim_multipliers(j*3+i)!=0") x{{calc_victim_multipliers(j*3+i)}}
                    hr(ng-show='!$last')
                  
                h3.card-header
                  i.fas.fa-door-open(aria-hidden='true')
                  |  {{'line.judge.exit' | translate}}　
                .card-body
                  .col-md-12(style='position: relative;', ng-click='changeExitBonus()')
                    img.img-thumbnail(src='/images/line_bonus.png', width='186.3px', height='118px', ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}")
                    div(style='position:absolute; top:20px; left:65px;')
                      i.fas.fa-check.fa-fw.fa-5x(ng-show='exitBonus', style='color:#27ae60; opacity:0.9;')
                      i.fas.fa-times.fa-fw.fa-5x(ng-show='!exitBonus ', style='padding-top:4px; color:#e74c3c; opacity:0.9;')
          .col-md-7.col-lg-8.tilearea
            div(style='text-align:left;float:left;')
              .btn-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-arrows-alt-v(aria-hidden='true')
                button.btn.btn-outline-dark(type='button', ng-click='changeFloor(zz)', ng-repeat='zz in range(height)', ng-class='{active: zz == z}')  {{zz}} 
            div(style='text-align:right;float:right;')
              .btn-group
                button.btn.btn-outline-dark(type='button', ng-click='tileRot(-90)')
                  i.fas.fa-undo(aria-hidden='true')
                button.btn.btn-outline-dark(type='button', ng-click='tileRot(90)')
                  i.fas.fa-redo(aria-hidden='true')
            div(style='clear:both;')
            #wrapTile.mx-auto(style='margin-top:5px;')
              div(ng-repeat='r in range(length)', ng-if='sRotate==0', style='display: flex;')
                div(style='text-align:center;')
                  .slot(ng-repeat='c in range(width)')
                    tile(tile="mtiles[c+','+r+','+z]", ng-click='doScoring(c,r,z)')
              div(ng-repeat='r in range(length)', ng-if='sRotate==180', style='display: flex;')
                .slot(ng-repeat='c in range(width)')
                  tile(tile="mtiles[width - c -1+','+(length - r -1)+','+z]", ng-click='doScoring(width - c -1,length - r -1,z)')
              div(ng-repeat='r in range(width)', ng-if='sRotate==270', style='display: flex;')
                .slot(ng-repeat='c in range(length)')
                  tile(tile="mtiles[width - r -1+','+c+','+z]", ng-click='doScoring(width-r-1,c,z)')
              div(ng-repeat='r in range(width)', ng-if='sRotate==90', style='display: flex;')
                .slot(ng-repeat='c in range(length)')
                  tile(tile="mtiles[r+','+ (length - c-1) +','+z]", ng-click='doScoring(r,length-c-1,z)')
        .row(style='margin:50 0 0 0;')
          .col-sm-12
            button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}
          .col-md-12.confirmation
            div
              h4 {{'line.judge.adjust'| translate}}
              br
              strong(ng-if='!startedTime')
                | {{'line.judge.confirm_text'| translate}}
              strong(ng-if='startedTime', style='color:red')
                | {{'line.judge.disabled_confirm_text'| translate}}
              .row
                .col-sm-7(style='margin-bottom:10px;')
                  .input-group.input-group-lg
                    input.form-control(type='tel', placeholder='', aria-label='min', min='0', max='8', ng-model='minutes', ng-disabled='startedTime')
                    .input-group-append
                      span.input-group-text {{'common.min' | translate}}
                    input.form-control(type='tel', placeholder='', aria-label='sec', min='0', max='60', ng-model='seconds', ng-disabled='startedTime')
                    .input-group-append
                      span.input-group-text {{'common.sec' | translate}}
                .col-sm-5
                  div(style='text-align:right;')
                    button.btn.btn-danger(type='button', ng-click='confirm()', ng-disabled='startedTime')
                      i.fas.fa-arrow-right.fa-2x(aria-hidden='true')  {{'line.judge.toSign'| translate}}
      .row(style='margin:20 0 0 0;')
        .col-md12
          button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/line/' + competition._id + '/' + league)")
            i.fas.fa-undo(aria-hidden='true')  {{'common.back' | translate}}
