//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'LineScore'

append scripts
  script.
    var competitionId = "#{competitionId}"
    var leagueId = "#{leagueId}"

  script(src='/javascripts/ranking/line_2024.js')

  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
  
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId)') {{competition.name}}
    a.breadcrumb-item(ng-click="go('/line/'+ competitionId + '/' + league.league)") {{league.name}}
    span.breadcrumb-item.active Ranking

block content
  .row
  .col-md12
    button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/line/' + competitionId + '/' + league.league)")
      i.fas.fa-undo(aria-hidden='true') {{'common.back' | translate }}
  br
  .alert.alert-success(role='alert' ng-if="competition.message")
    h4.alert-heading {{'common.message' | translate}}
    p(ng-bind-html="competition.message")
  br
  include include/line_2024