//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'MazeScore'

append scripts
  script.
    var competitionId = "#{competitionId}"
    var leagueId = "#{leagueId}"

  script(src='/javascripts/ranking/maze_2024.js')
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId )') {{competition.name}}
    a.breadcrumb-item(ng-click="go('/maze/'+ competitionId + '/' + league.league)") {{league.name}}
    span.breadcrumb-item.active Ranking

block content
  .row
  .col-md12
    button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/maze/' + competitionId + '/' + league.league)")
      i.fa.fa-undo(aria-hidden='true') {{'common.back' | translate}}
  br

  .alert.alert-success(role='alert' ng-if="competition.message")
    h4.alert-heading {{'common.message' | translate}}
    p(ng-bind-html="competition.message")
  include include/maze_2024E