//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'RegistrationSettings'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/components/angular-toastr/dist/angular-toastr.tpls.min.js')
  script(src='/javascripts/registration/settings.js')

append css
  link(rel='stylesheet', href='/components/angular-toastr/dist/angular-toastr.css')
  

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/' + competitionId)") {{competition.name}}
    span.breadcrumb-item.active Registration settings


block content
  .row
    .col-md-1
    .col-md-10
      h1 参加登録受付設定 - {{competition.name}}
      p このページでは，チーム自身による参加登録の受付可否について設定します．
      hr

      h3 共通設定
      h5 コンセントフォームのURL
      .row
        .col-md-8 
          input.form-control(type='text', ng-model='competition.consentForm')
        .col-md-4 
          button.btn.btn-success(type='button', ng-click='set()')
            i.fas.fa-save &nbsp;{{"admin.settings.set" | translate}}

      hr
      h3 リーグ毎の設定
      table.custom(style="margin-bottom:20px;")
        thead
            tr
              th {{"common.league" | translate}}
              th 受付
              th 期限
              th パスコード
              th {{"common.operation" | translate}}
              
        tbody
            tr(ng-repeat='league in competition.registration')
              td(ng-bind='getLeagueName(league.league)')
              td 
                select.custom-select(ng-model='league.enable', ng-style="{backgroundColor: league.enable ? '#bcffbc':'#ffcccc'}")
                  option(ng-value='true') {{"common.enable" | translate}}
                  option(ng-value='false') {{"common.disable" | translate}}
              td 
                input.form-control(type='datetime-local', ng-model='league.deadlineW', ng-style="{backgroundColor: deadlineColour(league.deadlineW)}")
              td 
                input.form-control(type='text', ng-model='league.passCode')              
              td 
                button.btn.btn-dark(type='button', ng-click='copy(league.league)', style="margin-right:5px;")
                  i.fas.fa-clipboard &nbsp;URL
                button.btn.btn-success(type='button', ng-click='set()')
                  i.fas.fa-save &nbsp;{{"admin.settings.set" | translate}}