//- -*- tab-width: 2 -*-
extends ../includes/layout

block vars
  - var ngAppDef = 'PublicFiles'

append scripts
  script.
    var competitionId = "#{competition}"
    var teamId = "#{team}"
    var token = "#{token}"
    var leagueId = "#{league}"
    
  script(src='/javascripts/document/publicFiles.js')


block navbar
    nav.navbar(style='background-color: #283655; color: #fff; position: fixed; top: 0; z-index:10 ;  width: 100%')
        .col-12
            span(style="font-size:20px;")
                i.fas.fa-archive &nbsp;
                | {{team.name}} - {{competition.name}}



block content
  .row
    .col-md-12
      h1 {{team.teamCode}} {{team.name}}
      p This page displays a list of the team's materials that are publicly available. Please click on the button of the document you want to see.
      .row 
        .col-md-4(ng-repeat='file in files', style="margin-top:30px;")
          button(class='btn btn-outline-dark btn-lg btn-block' style="height:100%;" ng-click="goFile(file)")
            i.fas.fa-4x(ng-class="fileIcon(file.fileType)")
            br
            span {{langContent(file.i18n, 'question')}}


block footer 

      